<!DOCTYPE html>
<html>
  <head>
    <title>Dietsana</title>
    <meta property="og:title" content="Dietsana" />
    <meta property="og:image" content="<%= image_url('dietsana-sidebar-logo.png') %>" />
    <meta property="og:description" 
      content="An Asana inspired project management application built for teams." 
    />
    <meta property="og:url" 
      content="https://dietsana.herokuapp.com/#/" 
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Flamenco&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.logo="<%= image_url('dietsana-logo.png') %>";
      window.landing1="<%= image_url('landing1.png') %>";
      window.landing2="<%= image_url('landing2.png') %>";
      window.landing3="<%= image_url('landing3.png') %>";
    </script>
    
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
